.logo {
  float: left;
}

.logo img {
  height: 30px;
  width: auto;
}

.links {
  float: right;
}

nav {
    background-color: #00133a;
    /*overflow: hidden;*/
    position: fixed;
    width: 100%;
    padding: 10px;
    top: 0;
    left: 0;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    float: right;
  }
  
  nav li {
    float: right;
  }
  
  nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 25px 25px;
    text-decoration: none;
  }
  
  nav a:hover {
    font-weight: bold;
  }

  nav a.active {
    color: rgb(219, 219, 217);
  }
